<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2GIS Navi API</title>
    <meta name="description" content="Navi API directions example" />
    <style>
        html,
        body,
        #container {
            margin: 0;
            width: 75%;
            height: 75%;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <script src="https://mapgl.2gis.com/api/js/v1"></script>
    <script src="https://unpkg.com/@2gis/mapgl-directions@^2/dist/directions.js"></script>
    <div id="container">
        <div class="buttons">
            <button id="drawMap">Построение маршрута</button>
        </div>
    </div>

    <script>
        const buttonDraw = document.getElementById('drawMap')
        buttonDraw.onclick = function () { drawMap() }

        function drawMap() {
            const map = new mapgl.Map('container', {
                center: [60.65533, 56.840548],
                zoom: 13,
                key: 'bfd8bbca-8abf-11ea-b033-5fa57aae2de7',
            });

            const directions = new mapgl.Directions(map, {
                directionsApiKey: 'rurbbn3446',
            });

            //Задаём точки для построения пешеходного маршрута.
            //TODO: точки должны прийти с алгоритма на бэке.
            let currentPos = [60.654238, 56.844077];
            let storagePos = [60.572245, 56.83239];
            let firstOrderPos = [60.539107, 56.865548];
            let secondOrderPos = [60.631612, 56.907548];
            let thirdOrderPos = [60.613359, 56.91729];
            //Построение и отрисовка маршрута.
            directions.pedestrianRoute({
                points: [
                    currentPos,
                    storagePos,
                    firstOrderPos,
                    secondOrderPos,
                    thirdOrderPos,
                ],
            });

        }</script>
</body>
</html>